@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

		/* --font-heading: "Monoton", sans-serif; */
		--font-heading: "Limelight", sans-serif;
		--font-body: "Inter", sans-serif;

    --destructive-foreground: 0 0% 98%;
    --secondary-foreground: 238 49% 16%;
    --popover-foreground: 238 49% 16%;
    --primary-foreground: 238 49% 16%;
    --accent-foreground: 238 49% 16%;
    --muted-foreground: 238 49% 16%;
    --card-foreground: 238 49% 16%;
    --destructive: 0 84% 60%;
    --background: 238 49% 16%;
    --foreground: 238 49% 16%;
    --secondary: 157 39% 66%;
    --popover: 183 48% 90%;
    --primary: 39 68% 63%;
    --border: 39 68% 63%;
    --accent: 183 48% 70%;
    --muted: 183 48% 90%;
    --input: 183 48% 45%;
    --card: 238 49% 16%;
    --ring: 238 49% 16%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}